@import "tailwindcss";

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #1a1a1a;
  }

  p {
    color: #313131;
  }
}

@theme {
  --color-primary: #053237;
  --color-primary-dark: #042529;
  --color-primary-light: #0a5a63;
  
  --color-secondary: #DFBF68;
  --color-secondary-dark: #d4b05a;
  --color-secondary-light: #e8d08f;
  
  --color-cream: #FCF9EE;
  --color-cream-dark: #f5f1e8;
  --color-gray-900: #0f172a;
  
  --max-width-container: 1400px;
}